<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">calendar_today</i>
            </div>
            <p class="card-category">Następna niedziela wolna od handlu</p>
            <h3 class="card-title">
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="card pt-2">
      <app-maps></app-maps>
    </div>

  </div>
</div>
