<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Edytuj profil</h4>
            <p class="card-category">Uzupełnij swoje dane</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-5">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="aaa@bb.cc" type="email" disabled>
                  </mat-form-field>
                </div>
                <div class="col-md-7">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nazwa użytkownika">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Domyślna miejscowość" type="text">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-info pull-right">Zaktualizuj dane</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../assets/img/faces/marc.jpg"/>
            </a>
          </div>
          <div class="card-body">
            <button class="btn btn-info btn-round pull-center" type="button" mat-raised-button>Dodaj zdjęcie</button>
            <!--<button class="btn btn-info btn-round pull-center" type="button" mat-raised-button>Zmień zdjęcie</button>-->
            <button class="btn btn-danger btn-round pull-center" type="button" mat-raised-button>Usuń zdjęcie</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Zmień hasło</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Stare hasło" type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nowe hasło" type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Powtórz nowe hasło" type="password">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Zmień hasło</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Usuń konto</h4>
            <p class="card-category">( ͡° ͜ʖ ͡°)</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <label>W poniższe pole przepisz wyraz: USUWAM</label>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Przepisany wyraz" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Hasło" type="password">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Usuń konto</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
