<div class="main-content">

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Zgłoszenia</h4>
          <p class="card-category">W tej tabeli znajdują się zgłoszenia do rozpatrzenia</p>
        </div>
        <div class="card-content table-responsive table-full-width">
          <table class="table">
            <tbody>
            <tr *ngFor="let zgl of zgloszenia">
              <td class="w-100">{{zgl.reason}}</td>
              <td>
                <button mat-raised-button class="button btn-info" (click)="goToShop(zgl.placeId)" >Przejdź</button>
              </td>
              <td>
                <button mat-raised-button class="button btn-danger" (click)="removeNotif(zgl.id)">Usuń</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Wolne niedziele</h4>
          <p class="card-category">Dodaj wolne niedziele :)</p>
        </div>
        <div class="card-content">
          <br><br>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [(ngModel)]="data" placeholder="Wybierz datę">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <button (click)="save()" class="btn btn-success pull-center" type="button" mat-raised-button>
            Zapisz
          </button>

          <table class="table">
            <tbody>
            <tr *ngFor="let wolny of wolne">
              <td class="w-100">{{wolny.date | date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
