<div class="main-content">

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Endrju</h4>
          <p class="card-category">Zwany też jako pierwszy z braci niedzieler.</p>
        </div>
        <div class="card-content">
          <br>
          <table class="m-2">
            <tr>
              <td>
                <i class="material-icons">format_quote</i>
              </td>
              <td>
                Niedzieler ma wszystkie sklepy których potrzebuję - alkohole 24h!<br>
                Kto pije harnasia tego czeka zemsta Karasia!
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Żymon</h4>
          <p class="card-category">Zwany też jako drugi z braci niedzieler.</p>
        </div>
        <div class="card-content">
          <br>
          <table class="m-2">
            <tr>
              <td>
                <i class="material-icons">format_quote</i>
              </td>
              <td>
                To się nie mogło udać. Ja pisze w c++ie, a kolega w ogóle nie jest programistą.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Miszka</h4>
          <p class="card-category">Pierwszy, który stracił nadzieję w powodzenie misji.</p>
        </div>
        <div class="card-content">
          <br>
          <table class="m-2">
            <tr>
              <td>
                <i class="material-icons">format_quote</i>
              </td>
              <td>
                Kodzicie bugi, żeby je potem fixować i człowiek się cieszy, że robota jest.<br>
                Nie tędy droga panowie!
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Arian</h4>
          <p class="card-category">Jego kod działa, tylko nie zawsze widać!</p>
        </div>
        <div class="card-content">
          <br>
          <table class="m-2">
            <tr>
              <td>
                <i class="material-icons">format_quote</i>
              </td>
              <td>
                Lubię pracę. Praca mnie fascynuje. Mogę siedzieć i patrzeć na nią godzinami.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
