<div class="navbar-form">
  <div *ngIf="searchAvailable" class="input-group no-border">
    <input type="text"
           #searchInput
           (keyup.enter)="search()"
           [(ngModel)]="searchValue"
           class="form-control"
           placeholder="Wpisz adres...">
    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="search()">
      <i class="material-icons">search</i>
      <div class="ripple-container"></div>
    </button>
  </div>
</div>
<div id="map"></div>
